// SPDX-License-Identifier: BSD-3-Clause
// Copyright (c) 2025 Michael Gardner, A Bit of Help, Inc.

go 1.23

use (
	.
	./application
	./bootstrap
	./cmd/greeter
	./domain
	./infrastructure
	./presentation
	./test
)
